# Maven specific
target/

# IntelliJ specific
.idea/artifacts/*
.idea/inspectionProfiles/*
.idea/copyright/*
.idea/dataSources.ids
.idea/dataSources.xml
.idea/workspace.xml
.idea/misc.xml

# Eclipse specific
.classpath

.project
.settings/
