<!DOCTYPE html>
<html ng-csp>
    <head lang="en">
        <meta charset="UTF-8">
        <title>The Simple One</title>
        <!-- custom stylesheets -->
        <link href="https://builder.yaas.io/public/css/styles.css" rel="stylesheet" />
        <script src="https://builder.yaas.io/public/js/vendor/jquery/dist/jquery.min.js"></script>
        <script src="https://builder.yaas.io/public/js/vendor/underscore/underscore.js"></script>
        <script src="https://builder.yaas.io/public/js/vendor/angular/angular.js"></script>
        <script src="https://builder.yaas.io/public/js/vendor/restangular/dist/restangular.min.js"></script>
        <script src="https://builder.yaas.io/public/js/builder.js"></script>
         <script src="https://builder.yaas.io/public/js/builder_editors_v3.js"></script>
        <script src="./controller/listCtrl.js"></script>
    </head>
    <body ng-app="defaultListApp">
        <div ng-controller="defaultListCtrl" class="wrapper">
            <ul class="dataCards dataCards-singleColumn">
                <li class="dataCard" ng-repeat="item in items">
                    <div class="cardRow cardRowClickable">
                        <p class="primaryData">
                            {{item.{{YOUR_PROPERTY1}}}}
                        </p>
                        <p class="secondaryData">
                            {{item.{{YOUR_PROPERTY2}}}}
                        </p>
                    </div>
                </li>
            </ul>
        </div>
    </body>
</html>