<html ng-csp>
    <head lang="en">
        <meta charset="UTF-8">
        <title>dynamic node example</title>
        <!-- custom stylesheets -->
        <link href="https://builder.yaas.io/public/css/styles.css" rel="stylesheet" />
        <link href="https://builder.yaas.io/vendor/angular/angular-csp.css" rel="stylesheet" />
        <script src="https://builder.yaas.io/public/js/vendor/jquery/dist/jquery.min.js"></script>
        <script src="https://builder.yaas.io/public/js/vendor/underscore/underscore.js"></script>
        <script src="https://builder.yaas.io/public/js/vendor/angular/angular.js"></script>
        <script src="https://builder.yaas.io/public/js/vendor/angular-translate/angular-translate.js"></script>
        <script src="https://builder.yaas.io/public/js/vendor/angular-translate-loader-static-files/angular-translate-loader-static-files.js"></script>
        <script src="https://builder.yaas.io/public/js/builder.js"></script>
        <script src="https://builder.yaas.io/public/js/builderInputs.js"></script>
        <script src="https://builder.yaas.io/public/js/builder_editors_v3.js"></script>
        <script src="https://builder.yaas.io/public/js/builder_navbar.js"></script>
        <script src="js/demoApp.js"></script>
    </head>
    <body ng-app="demoUIModuleApp">
        <div class="container-fluid">
            <div class="row">
                <div class="panel-body">
                    <div ng-controller="dynamicNodeCtrl" class="col-xs-12">
                        <h4>Your DynamicNode:</h4>
                        <input ng-model="somevalue" class="form-control" type="text" readonly>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>