<!DOCTYPE html>
<html>
    <head lang="en">
        <meta charset="UTF-8">
        <link href="https://builder.yaas.io/public/css/styles.css" rel="stylesheet" />
        <script src="https://builder.yaas.io/public/js/vendor/jquery/dist/jquery.min.js"></script>
        <script src="https://builder.yaas.io/public/js/vendor/underscore/underscore.js"></script>
        <script src="https://builder.yaas.io/public/js/vendor/angular/angular.js"></script>
        <script src="https://builder.yaas.io/public/js/vendor/angular-translate/angular-translate.js"></script>
        <script src="https://builder.yaas.io/public/js/vendor/angular-translate-loader-static-files/angular-translate-loader-static-files.js"></script>
        <script src="https://builder.yaas.io/public/js/builder.js"></script>
        <script src="https://builder.yaas.io/public/js/builderInputs.js"></script>
        <script src="https://builder.yaas.io/public/js/builder_editors_v3.js"></script>
        <script src="https://builder.yaas.io/public/js/builder_navbar.js"></script>
        <title>The Simple One</title>
    </head>
    <body>
        <script>
            var demoUIModuleApp = angular.module('demoUIModuleApp', ["builder", "builder.inputs", "builder_editors", "builder.translate", 'builder.navbar']);

            demoUIModuleApp.controller('settingsCtrl', function($scope, $http) {
                $scope.widgetSettings = Builder.currentWidget.settings;
                $scope.availableMarkets = Builder.currentWidget.settings.availableMarkets;
                $scope.availableRegions = Builder.currentWidget.settings.availableRegions;
                $scope.currLanguage = Builder.currentLanguage;
            });

            demoUIModuleApp.controller('authCtrl', function($scope, $http) {
                $scope.accessToken = Builder.authManager().getAccessToken();
                $scope.currentAccountId = Builder.currentAccountId;
            });

            demoUIModuleApp.controller('linkManagerCtrl', function($scope){
                $scope.linkMng = Builder.linkManager().currentLocation();
                $('#isPathExisting').prop('disabled', !Builder.linkManager().path('/Product Overview').exists());
            });

            demoUIModuleApp.controller('notificationCtrl', function($scope){
                $scope.processing=function(){
                    Builder.notificationManager.pushProcessing();
                    setTimeout(function(){
                    Builder.notificationManager.popProcessing();
                    },3000);
                }
            });

            demoUIModuleApp.controller('localizedCtrl' ,function($scope){
                $scope.configuration = {
                    'en': {'default': true, 'required': true},
                    'de': {'default': false, 'required': false}
                };
                 $scope.localizedData = {
                    'en': 'english text',
                    'de': 'german text',
                };
            });

            demoUIModuleApp.controller('validationCtrl', ['$scope','inputValidator','$timeout','$translate',
             function($scope, inputValidator, $timeout, $translate){
            }]);
        </script>
        <div class="wrapper" ng-app="demoUIModuleApp">
            <div class="container-fluid body-content">
                <builder-navbar
                    navbar-title="Demo module">
                </builder-navbar>
                <div class="page-header">
                    <h1 id="header"></h1>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <section>
                            <div class="section-header">
                                <h3>Notifications</h3>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <div ng-controller="notificationCtrl">
                                        <button class="btn btn-success" onclick="Builder.notificationManager.showSuccess('Success!')">Click it!</button>
                                        <button class="btn btn-warning" onclick="Builder.notificationManager.showWarning('Warning!')">Warning</button>
                                        <button class="btn btn-danger" onclick="Builder.notificationManager.showError('An Error occured')">Oh Snap!</button>
                                        <button class="btn btn-info" onclick="Builder.notificationManager.showInfo('Heads up!')">Heads up!</button>
                                        <button class="btn btn-info" onclick="Builder.notificationManager.showConfirmation('Confirmation','Please confirm', function(){alert('Great')})">Please confirm!</button>
                                        <button class="btn btn-warning" ng-click="processing()">I'm working!</button>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                    <div class="col-sm-6">
                        <section>
                            <div class="section-header">
                                <h3>Linkmanager</h3>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <div ng-controller="linkManagerCtrl">
                                        <div>
                                            <button class="btn btn-default" onclick="Builder.linkManager().path('/My Account/My Profile/Account Settings').open()">Show my Profile</button>
                                            <button class="btn btn-default" onclick="Builder.linkManager().path('/Home/'+Builder.currentOrganizationId+'/Projects/'+Builder.currentProjectId+'/parent/settingsExample1').open()">Show widget two</button>
                                            <button class="btn btn-default" id="isPathExisting" onclick="Builder.linkManager().path('/Product Overview')">Link does not exist</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
               <div class="row">
                   <div class="col-sm-6">
                       <section>
                            <div class="section-header">
                                <h3>Builder Editor v3</h3>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <div ng-controller="localizedCtrl">
                                        <h3>Single line</h3>
                                        <div>
                                            <builder-tab-editor builder-locales="configuration" data="localizedData" ng-form="someName2"></builder-tab-editor>
                                        </div>
                                        <div>Read more about the builder-tab-editor
                                            <a href="https://devportal.yaas.io/tools/buildersdk/index.html#ImplementationGuidefortheBuilderEditorModuleversion3" target="_blank"> here</a>.
                                        </div>
                                        <div>Read more about the previous localized editor
                                            <a href="https://devportal.yaas.io/tools/buildersdk/index.html#ThelocalizededitorcomponentintheBuilder" target="_blank"> here</a>.
                                        </div>
                                    </div>
                                </div>
                            </div>
                       </section>
                    </div>
                    <div class="col-sm-6">
                        <section>
                            <div class="section-header">
                                <h3>Client-Side Validation</h3>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <div ng-controller="validationCtrl">
                                        <div class="row">
                                            <form role="form" name="form" class="col-sm-6">
                                                <div>
                                                    <div class="form-group">
                                                        <label class="control-label">Email</label>
                                                        <input type="text" name="email" builder-input="email" class="form-control input-lg" ng-model="email" required>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                    <div>Read more about the custom validation rules
                                        <a href="https://devportal.yaas.io/tools/buildersdk/index.html#Client-sidefieldvalidationintheBuilder" target="_blank"> here</a>.
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
                <div class="row">
                     <div class="col-sm-6" ng-controller="settingsCtrl">
                        <section>
                            <div class="section-header">
                                <h3>{{'SHOWCASE.EXAMPLE_TRANSLATION' | translate}}</h3>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-body">
                                <div>
                                    <h4>{{'SHOWCASE.CURRENT_LANGUAGE' | translate}}: {{currLanguage}}</h4>
                                </div>
                                <div>
                                    <button class="btn btn-default">{{'SHOWCASE.DEFAULT_BUTTON' | translate}}</button>
                                </div>
                                </div>
                            </div>
                        </section>
                    </div>
                    <div class="col-sm-6">
                       <section>
                            <div class="section-header">
                                <h3>Settings</h3>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <div ng-controller="settingsCtrl">
                                        <div>Media Service Url : {{widgetSettings.mediaServiceUrl}}</div>
                                        <div>API Management Url : {{widgetSettings.apiManagementServiceUrl}}</div>
                                        <div>Example Settings : {{widgetSettings.example_setting}}</div>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <h4>Available Markets</h4>
                                                <div ng-repeat="market in availableMarkets">
                                                    <div class="input-group col-sm-2">
                                                        <span class="input-group-addon">{{market.id}}</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <h4>Available Regions</h4>
                                                <div ng-repeat="region in availableRegions">
                                                    <div class="input-group col-sm-1">
                                                        <span class="input-group-addon">{{region}}</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                       </section>
                     </div>
                </div>
                <div class="row">
                   <div class="col-sm-6">
                       <section>
                            <div class="section-header">
                                <h3>Auth Manager</h3>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <div ng-controller="authCtrl">
                                        <div>Access Token = {{accessToken}}</div>
                                        <div>Current User : {{currentAccountId}}</div>
                                    </div>
                                </div>
                            </div>
                       </section>
                   </div>
                   <div class="col-sm-6">
                       <section>
                            <div class="section-header">
                                <h3>Recommended Style Set</h3>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <div>Here can you find the
                                        <a href="https://techne.yaas.io" target="_blank"> recommended YaaS styles</a>.
                                    </div>
                                </div>
                            </div>
                       </section>
                   </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <section>
                            <div class="section-header">
                                <h3>Fullscreen mode</h3>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <button class="btn btn-default" onclick="Builder.moduleFullScreen.turnOn();">fullscreen on</button>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
        <script>
            Builder.initialize(function(){
                $("#header").append("Welcome " + Builder.currentAccountId + "!");
                $("#location").append(Builder.currentLocation);
                $("#token").append(Builder.authManager);
            });
        </script>
    </body>
</html>