<!DOCTYPE html>
<html ng-csp>
    <head lang="en">
        <meta charset="UTF-8">
        <title>The Simple Two</title>
        <!-- custom stylesheets -->
        <link href="https://builder.yaas.io/public/css/styles.css" rel="stylesheet" />
        <script src="https://builder.yaas.io/public/js/vendor/jquery/dist/jquery.min.js"></script>
        <script src="https://builder.yaas.io/public/js/vendor/angular/angular.js"></script>
        <script src="https://builder.yaas.io/public/js/vendor/angular-translate/angular-translate.js"></script>
        <script src="https://builder.yaas.io/public/js/vendor/angular-translate-loader-static-files/angular-translate-loader-static-files.js"></script>
        <script src="https://builder.yaas.io/public/js/builder.js"></script>
        <script src="https://builder.yaas.io/public/js/builderInputs.js"></script>
        <script src="https://builder.yaas.io/public/js/builder_editors_v3.js"></script>
        <script src="https://builder.yaas.io/public/js/builder_navbar.js"></script>
        <script src="js/demoApp.js"></script>
    </head>
    <body>
        <div class="wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="page-header">
                        <h1 id="header"></h1>
                    </div>
                    <div>
                        <h3>One View, Two Widgets, different settings</h3>
                    </div>
                    <div>
                        <div id="Widget1">
                            <div>
                                <h4>Say Hello to Widget 2</h4>
                            </div>
                        </div>
                        <div id="Widget2">
                            <div>
                                <h4>Say Hello to Widget 3</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>