<!DOCTYPE html>
<html ng-csp>
    <head lang="en">
        <meta charset="UTF-8">
        <title>The Simple Two</title>
        <!-- custom stylesheets -->
        <link href="https://builder.yaas.io/public/css/styles.css" rel="stylesheet" />
        <link href="https://builder.yaas.io/vendor/angular/angular-csp.css" rel="stylesheet" />
        <script src="https://builder.yaas.io/public/js/vendor/jquery/dist/jquery.min.js"></script>
        <script src="https://builder.yaas.io/public/js/vendor/angular/angular.js"></script>
        <script src="https://builder.yaas.io/public/js/vendor/angular-translate/angular-translate.js"></script>
        <script src="https://builder.yaas.io/public/js/vendor/angular-translate-loader-static-files/angular-translate-loader-static-files.js"></script>
        <script src="https://builder.yaas.io/public/js/builder.js"></script>
        <script src="https://builder.yaas.io/public/js/builderInputs.js"></script>
        <script src="https://builder.yaas.io/public/js/builder_editors_v3.js"></script>
        <script src="https://builder.yaas.io/public/js/builder_navbar.js"></script>
        <script src="js/demoApp.js"></script>
    </head>
    <body ng-app="demoUIModuleApp">
        <div class="wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="panel-body">
                        <div ng-controller="virtualChildrenCtrl">
                            <div class="col-xs-12">
                                <h3>Navigation will not change, it's a <button class="btn btn-default" ng-click="showVirtualChildView()">virtual child</button>.</h3>
                            </div>
                        </div>
                        <div ng-controller="dynamicNodeCtrl">
                            <div class="col-xs-12">
                                <h3>Dynamic node example</h3>
                            </div>
                            <div class="col-xs-4">
                                <input type="text" placeholder="search for a product" ng-model="dynamicValue" class="form-control">
                            </div>
                            <div class="col-xs-6">
                                <input type="submit" ng-click="showDynamicNodeView()" value="search" class="btn btn-default">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>